@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.container {
  width: 45vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h1 {
  display: inline-block;
  color: white;
  font-family: "Righteous", serif;
  font-size: 2.2em;
  text-shadow: 0.03em 0.03em 0 #4d5eb3;
}

input[type="text"] {
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}

input[type="text"][required]:focus {
  border-color: #00bafa;
}

input[type="text"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}

input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1.5em) scale(0.9, 0.9);
}

input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}

input[type="text"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}

input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.button2 {
  padding: 10px 30px;
  border-radius: 4px;
  color: #eee;
  text-transform: uppercase;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.button2:hover {
  border: 1px solid transparent;
}

.button2:hover span {
  position: absolute;
}

.button2:hover span:nth-child(1) {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#3a86ff));
  background: linear-gradient(90deg, transparent, #3a86ff);
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.button2:hover span:nth-child(2) {
  -webkit-filter: hue-rotate(60deg);
          filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#3a86ff));
  background: linear-gradient(180deg, transparent, #3a86ff);
  -webkit-animation: animate2 1s linear infinite;
          animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.button2:hover span:nth-child(3) {
  -webkit-filter: hue-rotate(120deg);
          filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#3a86ff));
  background: linear-gradient(270deg, transparent, #3a86ff);
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%,
  100% {
    height: 2px;
    right: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%,
  100% {
    height: 2px;
    right: 100%;
  }
}

.button2:hover span:nth-child(4) {
  -webkit-filter: hue-rotate(300deg);
          filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#3a86ff));
  background: linear-gradient(360deg, transparent, #3a86ff);
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.last {
  font-size: 20px;
  color: #eee;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=passMessage.css.map */