@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin CenterDiv($jscontent) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $jscontent;
}

body {
    height: 100vh;
    width: 100vw;
    @include CenterDiv(center);
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.container {
    width: 45vw;
    height: 50vh;
    @include CenterDiv(space-around);
}

// A Message you would like to pass

h1 {
    display: inline-block;
    color: white;
    font-family: "Righteous", serif;
    font-size: 2.2em;
    text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
}

// input Field

input[type="text"] {
    // box-sizing: border-box;
    // width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
}
input[type="text"][required]:focus {
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

// Button

.button2 {
    padding: 10px 30px;
    border-radius: 4px;
    color: #eee;
    text-transform: uppercase;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #d2bdff;
    transition: all 0.1s linear;

    &:hover {
        border: 1px solid transparent;
        span {
            position: absolute;
            &:nth-child(1) {
                filter: hue-rotate(0deg);
                top: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, transparent, #3a86ff);
                animation: animate1 1s linear infinite;
            }
            @keyframes animate1 {
                0% {
                    left: -100%;
                }
                50%,
                100% {
                    left: 100%;
                }
            }

            &:nth-child(2) {
                filter: hue-rotate(60deg);
                top: -100%;
                right: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(180deg, transparent, #3a86ff);
                animation: animate2 1s linear infinite;
                animation-delay: 0.25s;
            }

            @keyframes animate2 {
                0% {
                    top: -100%;
                }
                50%,
                100% {
                    top: 100%;
                }
            }
            &:nth-child(3) {
                filter: hue-rotate(120deg);
                bottom: 0;
                right: 0;
                width: 100%;

                background: linear-gradient(270deg, transparent, #3a86ff);
                animation: animate3 1s linear infinite;
                animation-delay: 0.5s;
            }
            @keyframes animate3 {
                0% {
                    right: -100%;
                    height: 3px;
                }
                50%,
                100% {
                    height: 2px;
                    right: 100%;
                }
            }

            &:nth-child(4) {
                filter: hue-rotate(300deg);
                bottom: -100%;
                left: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(360deg, transparent, #3a86ff);
                animation: animate4 1s linear infinite;
                animation-delay: 0.75s;
            }
            @keyframes animate4 {
                0% {
                    bottom: -100%;
                }
                50%,
                100% {
                    bottom: 100%;
                }
            }
        }
    }
}


.last{
    font-size: 20px;
    color: #eee;
    // display: none;
    transition: 1s;
}